@inherits LayoutComponentBase
@using Microsoft.AspNetCore.Components.Web.Extensions.Head

<div class="page" style="height: 94%">
    <div class="sidebar">
        <NavMenu />
    </div>
    
    <div class="main">
        <div class="top-row px-4">

            <a href="https://github.com/Magik3a/Rarity-Score" target="_blank" class="ml-md-auto"> <span class="oi oi-code" aria-hidden="true"></span> GitHub</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
        
    </div>
    
</div>

<footer class="" style="height: 5%; position: relative">
    <div class="text-center build-version">
        Build Version @System.Reflection.Assembly.GetExecutingAssembly().GetName().Version
    </div>
</footer>