@page "/attributes"

@inject HttpClient Http

<h3>Attributes</h3>

<div class="row">
@foreach (var attributesResult in attributes)
{
    <div class="card bg-light col-md-4">
        <div class="card-body">
            <h3 class="card-title"> @attributesResult.Name</h3>
           
            <table class="table table-sm">
                <thead>
                <tr>
                    <th>Trait</th>
                    <th>Rarity</th>
                    <th>Items</th>
                </tr>
                </thead>
                <tbody>
               
                    @foreach (var metadata in attributesResult.MetadataAttributes.OrderBy(a => a.Rarity))
                    {
                        <tr>
                        <th scope="row">@metadata.TraitName</th>
                        <td>@metadata.Rarity%</td>
                        <td>@metadata.Count</td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
}
</div>
@code {

    private  List<AttributesResult> attributes = new();

	protected override async Task OnInitializedAsync()
	{
		var jsonAttributes = await Http.GetFromJsonAsync<Dictionary<string, Dictionary<string, Dictionary<string, decimal>>>>("attributes/attributes.json");
	    attributes = AttributesResult.MapAttributes(jsonAttributes);

	}
}
